body{
	width: 100%;
	height: 950px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#background{

	width: 100%;
	height: 100%;
	display: flex;
}
.bg1{
	background-image: url(img/bg.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	filter: opacity(0.5);
}
.bg2{
	position: absolute;
	/*background-color: #333;*/
	background: radial-gradient(#333,#000);
	color: white;
}
.hana{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 0 5px 	#FFAAD5;
}
.hana div{
	position: absolute;
	display: block;
}
.hanabira1{
	width: 100px;
}
.hanabira2{
	width: 300px;
}

.hana div:nth-child(1){
	animation: animate 13s linear infinite;
}
.hana div:nth-child(2){
	left: 20%;
	animation: animate 10s linear infinite;
	animation-delay: -5s;
}
.hana div:nth-child(3){
	left: 30%;
	animation: animate 13s linear infinite;
	animation-delay: -7s;
}
.hana div:nth-child(4){
	left: 40%;
	animation: animate 10s linear infinite;
	animation-delay: -3s;
}
.hana div:nth-child(5){
	left: 50%;
	animation: animate 16s linear infinite;
}
.hana div:nth-child(6){
	left: 60%;
	animation: animate 9s linear infinite;
	animation-delay: -7s;
}
@keyframes animate{
	0%{
		top: -10%;
		opacity: 0;
	}
	30%{
		opacity: 0.8;
		transform: translateX(-20px) rotate(45deg);
	}
	60%{
		opacity: 0;
		transform: translateX(30px) rotate(0deg);

	}
	100%{
		top: 110%;
		opacity: 0.8;
        transform: translateX(20px) rotate(-45deg);

	}
}
.hana2{
	transform: scale(1.5) rotateY(180deg);
	filter: blur(2px);
	z-index: 2;
}
.word{
	width: 60%;
	height: 80%;
	background-color:	#000000;
	margin: auto;
	z-index: 1;
	opacity: 0.5;
	color: white;
	display: flex;
	border-radius: 5px;

}
.word h1{
	writing-mode: vertical-rl;
	margin: auto;
	font-size: 40px;
	line-height: 200px;
	font-weight: bolder;
	text-shadow: 1px 1px 3px #000;
	font-family: 'Sawarabi Mincho', sans-serif;
}
